/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
*                 {                                                                              /**/
                   margin           : 0                                                       ;  /**/
                   padding          : 0                                                       ;  /**/
                   font-size        : 100%                                                    ;  /**/
                   border           : none                                                    ;  /**/
                   outline          : none                                                    ;  /**/
                   font-weight      : 300                                                     ;  /**/
                   box-sizing       : border-box                                              ;  /**/
                   font-family      : 'Roboto Condensed', sans-serif                          ;  /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
body              {                                                                              /**/
                   background-color : #F5F5F5                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
a                 {                                                                              /**/
                   text-decoration  : none                                                     ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
img               {                                                                              /**/
                   max-width        : 100%                                                     ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
#Cabecalho        {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   float            : left                                                     ; /**/
                   padding          : 3% 4%                                                    ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
#Logo             {                                                                              /**/
                   width            : 56px                                                     ; /**/
                   height           : 56px                                                     ; /**/
                   float            : left                                                     ; /**/
                   background       : url(../IMG/CarroAzul.png) center center /56px no-repeat  ; /**/
                   font-size        : 0                                                        ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoMenu        {                                                                              /**/
                   width            : 56px                                                     ; /**/
                   height           : 56px                                                     ; /**/
                   float            : right                                                    ; /**/
                 //background       : linear-gradient(to right, #293DAA, #7081dd)              ; /**/
                   background       : #293DAA                                                  ; /**/
                   text-align       : center                                                   ; /**/
                   color            : #FFF                                                     ; /**/
                   border-radius    : 56px                                                     ; /**/
                   cursor           : pointer                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoClose       {                                                                              /**/
                   width            : 56px                                                     ; /**/
                   height           : 56px                                                     ; /**/
                   font-size        : 3em                                                      ; /**/
                   color            : #293DAA                                                  ; /**/
                   float            : right                                                    ; /**/
                   margin           : 2% 3% 0% 0%                                              ; /**/
                   cursor           : pointer                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Menu             {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   height           : 100%                                                     ; /**/
                   display          : none                                                     ; /**/
                   position         : fixed                                                    ; /**/
                   background-color : #E1E2E6                                                  ; /**/
                   top              : 0                                                        ; /**/
                   left             : 0                                                        ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Menu ul          {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   float            : left                                                     ; /**/
                   text-align       : center                                                   ; /**/
                   color            : #FFFFFF                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Menu li          {                                                                              /**/
                   padding          : 1.5%                                                     ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Menu li a        {                                                                              /**/
                   font-size        : 1.9em                                                    ; /**/
                   color            : #293DAA                                                  ; /**/
                   padding          : 1.5%b 3%                                                 ; /**/
                   font-weight      : 900                                                      ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Menu li a:hover  {                                                                              /**/
                   border           : 2px solid #3043A5                                        ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Banner           {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   float            : left                                                     ; /**/
                   text-align       : center                                                   ; /**/
                   padding          : 3% 4%                                                    ; /**/
                   background       : url(../IMG/Banner.png) no-repeat fixed                   ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Titulo           {                                                                              /**/
                   width            : 100%                                                     ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Titulo h2        {                                                                              /**/
                   font-size        : 40px                                                     ; /**/
                   color            : #FFFFFF                                                  ; /**/
                   font-weight      : 700                                                      ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Titulo h3        {                                                                              /**/
                   font-size        : 25px                                                     ; /**/
                   color            : #FFFFFF                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Botaos           {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   margin-top       : 2%                                                       ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Botaos i         {                                                                              /**/
                   float            : right                                                    ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoCadastrar   {                                                                              /**/
                   width            : 60%                                                      ; /**/
                   font-size        : 24px                                                     ; /**/
                   text-align       : left                                                     ; /**/
                   cursor           : pointer                                                  ; /**/
                   padding          : 2%                                                       ; /**/
                   border-radius    : 10px                                                     ; /**/
                   background-color : #FFFFFF                                                  ; /**/
                   color            : #293DAA                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoSobre       {                                                                              /**/
                   width            : 60%                                                      ; /**/
                   font-size        : 24px                                                     ; /**/
                   text-align       : left                                                     ; /**/
                   cursor           : pointer                                                  ; /**/
                   padding          : 2%                                                       ; /**/
                   border-radius    : 10px                                                     ; /**/
                   background-color : #293DAA                                                  ; /**/
                   color            : #FFFFFF                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.MAServicos       {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   float            : left                                                     ; /**/
                   padding          : 3% 4%                                                    ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.ARServicos       {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   text-align       : left                                                     ; /**/
                   margin-bottom    : 3%                                                       ; /**/
                   border-radius    : 7px                                                      ; /**/
                   background-color : #9FAAE5                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Interior         {                                                                              /**/
                   padding          : 7%                                                       ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Interior a       {                                                                              /**/
                   font-size        : 1.5em                                                    ; /**/
                   color            : #293DAA                                                  ; /**/
                   font-weight      : 700                                                      ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Interior h4      {                                                                              /**/
                   font-size        : 1.2em                                                    ; /**/
                   color            : #293DAA                                                  ; /**/
                   margin-top       : 2%                                                       ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Interior p       {                                                                              /**/
                   line-height      : 1.5em                                                    ; /**/
                   color            : #000000                                                  ; /**/
                   margin-top       : 6%                                                       ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.ARServicos img   {                                                                              /**/
                   border-radius    : 7px 7px 0 0                                              ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Newsletter       {                                                                              /**/
                   width            : 100%                                                     ; /**/
                   float            : left                                                     ; /**/
                   text-align       : center                                                   ; /**/
                   padding          : 3% 4%                                                    ; /**/
                 //border-radius    : 10px                                                     ; /**/
                   background-color : #9FAAE5                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Newsletter h2    {                                                                              /**/
                   font-size        : 1.5em                                                    ; /**/
                   font-weight      : 700                                                      ; /**/
                   color            : #293DDA                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Newsletter h3    {                                                                              /**/
                   color            : #293DDA                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Newsletter form  {                                                                              /**/
                   margin-top       : 2%                                                       ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Newsletter input {                                                                              /**/
                   width            : 100%                                                     ; /**/
                 //border           : 1px solid rgba (255,255,255,0.3)                         ; /**/
                   color            : #293DDA                                                  ; /**/
                   padding          : 5%                                                       ; /**/
                   border-radius    : 5px                                                      ; /**/
                   background-color : #FFFFFF                                                  ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoEmail       {                                                                              /**/
                   width            : 45%                                                      ; /**/
                 //font-size        : 24px                                                     ; /**/
                   text-align       : left                                                     ; /**/
                   cursor           : pointer                                                  ; /**/
                   padding          : 2%                                                       ; /**/
                   border-radius    : 5px                                                      ; /**/
                   background-color : #293DDA                                                  ; /**/
                   color            : #FFFFFF                                                  ; /**/
                   margin-top       : 7px                                                     ; /**/ 
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.BotaoEmail i     {                                                                              /**/
                   float            : right                                                    ; /**/
                  }                                                                              /**/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
.Rodape           {                                                                              /**/
                   float            : left                                                     ; /**/
                   width            : 100%                                                     ;
                   padding          : 3% 4%                                                    ;
                   text-align       : center;
                    background: #FFFFFF;
                  }
    
.IconesSociais a  {
                   color: #293DAA;
                   font-size: 1.7em ;
                   margin-right: 3%;
                  }

.IconesSociais a:hover  {
                   color: #4861eb;
                  }

.Copyright        {
                   color: #293DAA;
                   margin-top: 2%;
                  }
                                                                                          
